.container {
    margin: 20px 50px;
    border: 1px solid white;
    padding: 100px;
    background-color: black;
}

p,
td,
th,
table {
    color: white
}

.centered {
    display: block;
    margin: 10px auto;
    width: 45%;
}

#body {
    background-color: rgb(72, 189, 225);
}