.container {
    margin: 10px 10px;
    border: 5px solid rgb(53, 53, 53);
    padding: 100px;
    background-color: white;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 15px 28px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.centered {
    display: block;
    margin: 10px auto;
    width: 50%
}