.body {
    background-color: rgb(1, 66, 128);
    max-width: 775px;
    font-family: Georgia, serif;
    margin: 5px auto;
}

.bgw {
    background-color: white;
}

.navbar {
    width: 744px;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 17.6px;
}

.navbar li a:hover {
    background-color: rgb(16, 99, 172);
    color: rgb(255, 255, 125);
}

.nav-link.active {
    background-color: rgb(19, 119, 206);
}

.button {
    background-color: rgb(0, 27, 94);
    color: rgb(255, 255, 125);
    border: 5px solid white;
    text-align: center;
    display: block;
    transition-duration: 0.5s;
    border-radius: 10px;
    padding: 6px;
    margin-right: 20px;
}

.button:hover {
    border: 5px solid rgb(0, 27, 94);
}

div h1 {
    font-size: 130%;
    font-weight: bold;
    color: rgb(34, 51, 119);
    margin: 10px 0px 10px 0px;
}

div h2 {
    font-size: 140%;
    font-style: italic;
}

.store {
    float: right;
    padding: 10px;
    margin: 0px 0px 0px 5%;
}

.store2 {
    float: right;
    margin: 0px 20px 10px;
}

p {
    font-size: 90%;
}

.bbb {
    float: right;
    padding: 0px 10px 10px;
}

ul li {
    font-size: 90%;
}

.smallcaps {
    text-transform: lowercase;
    font-variant: small-caps;
}