.container {
    border: 1px, solid;
}

.body {
    background-color: rgb(1, 66, 128);
    max-width: 775px;
    font-family: Georgia, serif;
}

.head {
    display: flex;
    justify-content: center;
}

.headimg {
    max-width: 744px;
}

.content {
    background-color: white;
}

.navbar {
    width: 744px;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 17.6px;
    --bs-navbar-padding-y: 0px;
}

.navbar li a:hover {
    background-color: rgb(16, 99, 172);
    color: rgb(255, 255, 125);
}

.nav-link.active {
    background-color: rgb(19, 119, 206);
}